# Utilities
python-jose

# Linting
flake8
flake8-annotations
flake8-bugbear
dlint
flake8-simplify
darglint
flake8-bandit
flake8-builtins
flake8-comprehensions
flake8-docstrings
flake8-eradicate
pep8-naming
flake8-pytest-style

# Testing
pytest
pytest-django
factory_boy
pytest-mock

# Formatting
black